@import 'reset.css';

body {
    background: linear-gradient(to right, #313866 20%, #576081);
    height: 100vh;
    color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

.App {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 4px;
    background: linear-gradient(to bottom right, #756788, #313866);
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(244, 158, 49, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(244, 158, 49, 0.1);
}
